
.logo h1{
  display: inline;
}
.logo span {
  color: #ffc12f;
}
.logo img{
  height: 30px;
}
.navbar img{
  height: 10px;
}
.navbar ul li {
  display: inline;
  list-style: none;
  padding: 10px;
}
.navbar ul li a {
  text-decoration: none;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#CITYPNG {
  float: right;
  height: 400px;
  display: inline;
  position: relative;
}
.words h2{
  font-size: x-large;
  font-family: bold;
}
.words p{
  font-size: medium;
  padding: 20px 0;
}
.words {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.words button {
  background-color: #ffc12f;
  padding: 10px;
  border-radius: 30px 20px 0 30px;
  color: white; 
}
.fast img, .delicious img, .quality img {
  height: 50px;
  margin: 0 auto;
  align-items: center;
}

.three {
  display: flex;
  flex-direction: row;
}
.three  p{
  text-align: center;
}
.three h2 {
  text-align: center;
  color: #561212;
}
.quality, .fast, .delicious {
  border: 1px solid #561212; 
  border-radius: 20px; 
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu span {
  color: #ffc12f;
}
.double span {
color: #ffc12f;
}
.double-burger img{
  height: 100px;
}
.container {
  display: flex;
  flex-flow: row wrap;
}
.double-burger {
  width: 30%;
  box-shadow: 5px 5px 5px 5px grey;
  margin: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.double-burger p {
  text-align: center;
}
.menu {
  text-align: center;
}
hr {
  border: solid #fa952d;
  width: 5%;
}
#combo1 {
  height: 60vh;
  left: 50px;
}
#combo2 {
  height: 60vh;
  position: relative;
  right: 300px;
}
.double {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  height: 80vh;
  background-color:  #E1EBE6;
}
.double-burger2 {
  float: right;
}
.double p {
  padding: 20px 0;
  font-size: 20px;
}
.taste {
  padding: 20px;
}
.mobicard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F6B400;
}
.mobile img {
  height: 50px;
  padding-left: 20px;
}
.mobicard2 img {
  padding: 0 20px;
}
.mobile p{
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sitemap ul li{
  list-style: none;
}
.sitemap ul li a {
  text-decoration: none ;
  color: black;
}
.logo2 span {
  color: #F6B400;
}
.logo2 h2 {
  display: inline;
}
.Newsletter button {
  background-color: #F6B400;
  color: white;
  padding: 10px;
}
input {
  padding: 10px;
  border-radius: 5px;
}