nav{
  height: 70px;
  width: 100%;
}
label.logo{
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-size: 40px;
}
.b-logo {
  font-size: 40px;
  font-weight: bolder;
  margin-left: 50px;
  font-family: Lobster;
}
nav ul{
  float: right;
  margin-right: 30px;
  
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  
}
nav ul li a{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
a.active,a:hover{
  background: #F6B400;
  transition: .5s;
}
/* end of nav bar */
.float-container {
  padding: 20px;
}
.child {
width: 20%;
height: 100px;
background-color: #E1EBE6;
float: left;
padding: 20px;
border-style: solid;
margin: 10px;
}

/* .float-decker{
  padding: 20px;
  width: 30px;
  height: 50px;
}
.float-decker-child {
  width: 50%;
  float: left;
}
.decker-burger {
width: 50%
} */
.column {
  float: left;
  width: 50%;
}
.column img {
  transform: translate(-400px, 370px);
}
.row:after {
  content:"";
  display: table;
  clear: both;
}
.colar {
  font-size: 5vw;
  color: #F6B400;
}
.parent-mobile{
  background-color: #F6B400;
}
.mobile {
  width: 30%;
  height: 50%;
  background-color:#F6B400;
  float: left;
  padding: 10px;
}
.compart {
  width: 50%;
  height: 20%;
  float: left;
}
.compart h1 {
  font-size: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.compart p {
  font-size: 20px;
  margin-left: 50px;
}
.compart button {
  margin-left: 100px;
  background-color: #F6B400;
  border-radius: 25%;
  border-color: #F6B400;
  margin-top: 60px;
}
#bur-logo {
  color: #F6B400;
}
.child {
  width: fit-content;
  height: fit-content;
  border-color: white;
  border-radius: 5%;
}
.menu-child {
  width: 30%;
  height: 100%;
  float: left;
  margin: 5px;
  border-style: 10px;
  border: white;
  padding: 10px;
}
.float-container {
  display: flex;
  flex-direction: row;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}