.float-container {
  padding: 20px;
}


.child {
width: 20%;
height: 100px;
background-color: #E1EBE6;
float: left;
padding: 20px;
border-style: solid;
margin: 10px;
}
.menu {
  padding: 20px;
}
.menu-child {
width: 30%;
height: 50%;
display: block;
background-color: #E1EBE6;
float: left;
padding: 2px;
/*border-style: solid;*/
margin:10px;
}